html {
  // width: 960px;
  // height: 100%;
  overflow-y: scroll;

  body {
    min-width: 960px;
    height: 100%;
    margin: 0;
    font-family: 'Nanum Gothic',NanumGothic,'나눔고딕','Malgun Gothic','맑은고딕','Apple SD Gothic Neo',Meiryo,Dotum,'돋움',sans-serif;
  }
}

ul {
  list-style-type: none;
}
